#prima_immagine {
    background-color: cornflowerblue;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    height: 160px;
    width: 100%;
}

#logo {
    height: 250px;
    width: 200px;
}

#text_title {
    text-align: left;
}
.text_grey{
    color: rgb(220, 220, 220);
}

#color_text {
    color: aqua;
}
#description_photo{
    font-size: smaller;
}
