#prima_immagine {
    background-color: cornflowerblue;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    height: 160px;
    width: 100%;
}

#logo {
    height: 250px;
    width: 200px;
}

#text_title {
    text-align: left;
}
.text_grey{
    color: rgb(77, 77, 77);
}

#color_text {
    color: aqua;
}
#description_photo{
    font-size: smaller;
}
.important_text{
    background-color: rgb(210, 233, 4);
}
.width_table{
    width: 100%;
}
.height_table{
    height: 70px;
}
#table1_color{
background-color: darkturquoise;
color: white;
}
.background_blue{
    background-color: aquamarine;
}
#text_strong{
    font-size: large;
}
.text_white{
    color: white;
    font-size: large;

}
#computer_imagine{
    background-image: url(..//img/monitor.jpg);
    width: 250px;
    height: 200px;
}
#graph_imagine{
    background-image: url(..//img/graph.jpg);
    width: 250px;
    height: 200px;
}

